<body class="d-grid gap-2 col-3 mx-auto align-items-center">

<h1>Sign In</h1>

<%=form_with url: sign_in_path do |form| %>
    <div class="mb-3">
    <%= form.label :username %>
    <%= form.text_field :username, class:"form-control" %>
    </div>

    <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control" %>
    </div>

    <div class="col-sm-12 text-center">
    <%= form.submit :Submit, class: 'btn btn-primary'%>
     <a class="btn btn-outline-primary" aria-current="page" href="/">Back</a>
    </div>
<%end%>

</body>