<body class="d-grid gap-2 col-3 mx-auto align-items-center">

<h1 class="px-10" >User registration</h1>
<%= form_with model: @user, url: sign_up_path do |form| %>
    <% if @user.errors.any?%>
    <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |message| %>
            <div> <%=message%> </div>
        <%end%>
    </div>
    <%end%>

    <div class="mb-3">
    <%= form.label :username %>
    <%= form.text_field :username, class:"form-control" %>
    </div>
    


    <%= form.select :role, ['cashier', 'admin']%>

    <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control" %>
    </div>

    <div class="mb-3">
    <%= form.label :password_confirmation%>
    <%= form.password_field :password_confirmation, class:"form-control" %>
    </div>

    <div class="col-sm-12 text-center">
    <%= form.submit :Submit, class: 'btn btn-primary'%>
     <a class="btn btn-outline-primary" aria-current="page" href="/">Back</a>
    </div>
<% end %>

</body>

