<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
    <img src="/Niex_logo.png"  height="30" alt="">
  </a>
  <a class="navbar-brand">Products List</a>
<%= button_to "New Product", new_product_path, method: :get, class: "btn btn-outline-primary mt-2"%>

</nav>

  <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Barcode</th>
        <th scope="col">Description</th>
        <th scope="col">Unit Price</th>


   
      </tr>
    </thead>

  <tbody>
    <% @products.each do |p| %>
    <tr>
      <th scope="row"> <%= p.id %> </th>
      <td> <%= p.barcode %> </td>
      <td> <%= link_to p.description, p %> </td>
      <td> <%= p.price %> </td>
    </tr>
    <% end%>
  </tbody>
  </table>


<footer class="footer">
<%= "----" * 36%>
    <% if @user %> 
       <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-danger mt-2"%>
       Logged in as <%= @user.username %>
    <% end %>
</footer>