<h1>Sales screen</h1>

<%= form_for sell_path, method: :post do |f|%>
  <p>
   <%= f.text_field :query, autofocus: true %>
   <%f.submit%>
  </p>
<% end %>

<h2>Total: <%=@total%></h2>
Last product: <%=@product%>

<div>
  <%= render partial: "shared/sale_product_list"%> 
</div>


<div class="row">
  <%= button_to "Finish sale", sell_path, method: :get, class: "btn btn-outline-primary mt-2"%>
  <%= button_to "Cancel sale", sale_path, method: :delete, class: "btn btn-outline-danger mt-2"%>
</div>

<footer class="footer">
<%= "----" * 36%>
    <% if @user %> 
       <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-danger mt-2"%>
       Logged in as <%= @user.username %>. Role: <%= @user.role%>
    <% end %>
</footer>
